/*
Palette:
http://paletton.com/#uid=13i050kJS6KvW5fuP8MNdeqCnl7

*/

body {

    background-color: #1C1F24;
    color: white;
}

input[type=text] {
    color: black;
}

.header {
    margin-bottom: 5vh;
}

/* THE LABELS UP TOP */
.labels div{
    text-align: center;
    margin-bottom: 5vh;
    padding-bottom: 2vh;

    border-bottom: 5px solid red;

}

/* The name part */
.position-name {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-transform: capitalize;
}

.buttons-div {
    text-align: center;
}

.buttons-div {
    text-align: center;
}

.row {
    margin-bottom: 3vh;
    align-items: center;
}

.indiv-btn {
    font-size: 13pt;
}
