<!DOCTYPE html>
<html>
<head>
  <title>Polo</title>

  <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="./vendor/angular.min.js"></script>

</head>

<body ng-app="main" ng-controller="scoreboard as sb">
  <div class="container-fluid">
    <div class="header text-center">
      <h1>
        Water Polo Score Board
      </h1>
      
      <form ng-submit="sb.addPlayer()">
        <input type="text" placeholder="Player Name" ng-model="sb.name">
      </form>

    </div>

    <div class="container-fluid">

      <!-- LEFT HALF -->
      <div class="players col-md-6">

        <ng-include src="'html/labels.html'">
        </ng-include>
          
        <div id="scoreboard">
          <!-- EACH OF THE ROWS -->
          <div class="row" ng-repeat="player in sb.rows">
            
            <!-- NAME PART -->
            <div class="col-xs-4 position-name">
              {{sb.positions[$index]}} : <strong> {{player.name}} <strong>
            </div>

            <!-- ALL THE BUTTONS -->
            <div 
            ng-repeat="score in sb.scores" 
            class="col-xs-2 buttons-div">
              <button 
              class="btn btn-default indiv-btn"
              ng-click="sb.plusOne($parent.$index, score)">
                {{player[score]}}
              </button>
            </div>

          </div>
        </div>
      </div>
      
      <!-- RIGHT HALF -->
      <div class="scores col-md-6">

        <ng-include src="'html/labels.html'">
        </ng-include>

      </div>

    </div>
  </div>


  <script src="./vendor/jquery-3.1.0.min.js"></script>
  <script src="./js/index.js"></script>

</body>
</html>