<!DOCTYPE html>
<html>
<head>
  <title>Polo</title>

  <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="./vendor/angular.min.js"></script>

</head>

<body ng-app="main" ng-controller="RosterController as roster">
  <div class="container-fluid">
    <div class="header text-center">
      <h1>
        Water Polo Score Board
      </h1>
      
      <div class="top-inputs text-center">

        <form class="col-md-6" ng-submit="!roster.isDuped(roster.name) && roster.addPlayer()">
          <input type="text" placeholder=" Add a Player" ng-model="roster.name">
        </form>

        <input type="text" placeholder=" Filter the roster" ng-model="filterName">

      </div>
      
    </div>

    <div class="container-fluid">

      <!-- LEFT HALF -->
      <div id="left-half" class="players col-md-6">

        <row-label></row-label>
          
        <div ng-controller="scoreboard as sb" id="scoreboard">
          <!-- EACH OF THE ROWS -->
          <div ng-repeat="player in sb.rows">
            
            <div class="row">
              <current-play></current-play>
            </div>

          </div>

        </div>

      </div>

      <!-- RIGHT HALF -->
      <div id="right-half" class="scores col-md-6">

        <roster></roster>

      </div>
    </div>
  </div>


  <script src="vendor/jquery-3.1.0.min.js"></script>
  <script src="vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <script src="js/index.js"></script>

</body>
</html>